.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  max-width: 282px;
  overflow: hidden;
}

.card__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.card__like-button {
  background: transparent url(../images/heart_active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
