.footer {
  box-sizing: border-box;
}

.footer__copyright {
  color: #545454;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
  /* min-width: 100%; */
  margin-top: 40px;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    /* box-sizing: border-box; */
    max-width: 282px;
    width: 581px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__copyright {
    /* max-width: 100%; */
    font-size: 14px;
    /* margin-top: 40px; */
    margin-bottom: 30px;
  }
}
