.footer {
  box-sizing: border-box;
}

.footer__copyright {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
  margin: 0;
  margin-top: 40px;

  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 282px;
    width: 581px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__copyright {
    font-size: 14px;

    margin-bottom: 30px;
  }
}
