.header_page__section {
  margin-top: 35px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 35px;
}

@media screen and (max-width: 420px) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    margin: 28px 27px;
  }
  .header_page__section {
    width: 320px;
    height: 56px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .header__logo {
    height: 24px;
    width: 126px;
    margin: 28px 50px;
  }
}
