.page {
  background: #000;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 35px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  width: 100%;
}

.profile__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__info {
  display: grid;
  grid-gap: 9px 17px;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/edit\ pencil.png) center no-repeat;
  height: 24px;
  width: 24px;
  border-color: white;
  grid-area: button;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/plusbutton.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border-color: white;
  margin-left: auto;
  border-radius: 2px;
  border: 2px solid white;
  grid-area: button;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
}

.profile__description {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 24px;
  object-fit: cover;
  background-position: center;
}

.cards {
  margin-top: 51px;
  display: grid;

  margin-top: 30px;

  width: 100%;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.card {
  font-family: Inter, Arial, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.card__title {
  font-weight: 900;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;

  width: 21px;
  height: 18px;
  border: none;

  margin-right: 20px;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  box-sizing: border-box;
}

.footer__copyright {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
  margin: 0;
  margin-top: 40px;

  margin-bottom: 60px;
}

@media (max-width: 568px) {
  .cards__list {
    padding: 15px 0 18px;
  }
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media (min-width: 1280px) {
  .page {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .profile {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .profile__title {
    text-align: center;
    font-size: 22px;
    line-height: 27px;
  }

  .page {
    margin: 8px;
    max-width: 100%;
  }

  .page__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .profile__image {
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0 auto;
    max-width: 100%;
    margin: 36px 0;
    width: 282px;
    height: 50px;
  }

  .header {
    flex-direction: column;
  }
  .header__logo {
    justify-content: center;
    height: 24px;
    width: 126px;
    margin-bottom: 28px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    justify-content: center;
  }

  .profile__items {
    align-items: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .profile__image {
    margin: 0;
    /* margin-left: 30px; */
  }

  .profile__description {
    max-width: 282px;
    text-align: center;
    /* margin-top: 10px; */
    padding-bottom: 30px;
    /* font-size: 14px; */
    /* padding: 0; */
    /* margin: auto; */
  }

  .profile__add-button {
    margin: auto;
    min-width: 100%;
  }

  .profile__edit-button {
    max-width: 100%;
    /* margin: auto; */
    margin-left: 10px;
    height: 18px;
    width: 18px;
  }

  .profile__title {
    max-width: 100%;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    margin: auto;
    margin-top: 20px;
  }

  .header {
    flex-direction: column;
  }

  .header__logo {
    justify-content: center;
    margin-left: 50px;
    height: 24px;
  }

  .footer {
    /* box-sizing: border-box; */
    max-width: 282px;
    width: 581px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__copyright {
    /* max-width: 100%; */
    font-size: 14px;
    /* margin-top: 40px; */
    margin-bottom: 30px;
  }
}
