.header {
  margin-top: 35px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 35px;
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .header__logo {
    justify-content: center;
    margin-left: 50px;
    height: 24px;
  }
}

@media screen and (max-width: 420px) {
  .header__logo {
    /* justify-content: center; */
    margin-left: 27px;
    width: 126px;
    margin-bottom: 28px;
  }
}
