.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: black;
  display: flex;
  align-items: center;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background: white;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
}

.modal__close {
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  position: absolute;
  background-image: url("../images/Close.svg");
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  /* margin-left: 36px; */
}

.modal__form {
  /* margin-left: 36px;
  margin-right: 36px; */
  border-radius: 10px;
  display: grid;
}

.modal__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  width: 358px;
  font-family: inter, arial, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.modal__button-save {
  display: block;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0;
  margin-bottom: 0;
}

.modal__button-save:hover {
  opacity: 0.5;
}
/* was max-width 420 */
@media screen and (max-width: 560px) {
  .modal {
    max-width: 100%;
    box-sizing: border-box;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    border: 1px solid rgba(0, 0, 0, 1);
    /* margin-left: 19px;
    margin-right: 19px; */
    padding: 22px 25px;
    box-sizing: border-box;
  }

  .modal__close {
    width: 26px;
    left: 245px;
  }

  .modal__heading {
    margin: auto;
    margin-bottom: 50px;
  }

  .modal__input {
    width: 232px;
  }

  .modal__button-save {
    width: auto;
  }
}
