.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  width: 430px;
  height: 330px;
  background: white;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
}

.modal__close {
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  position: absolute;
  background-image: url("../images/Close.svg");
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__input {
  width: 430px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.modal__button-save {
  width: 430px;
  height: 50px;
  border-radius: 2px;
  top: 438px;
  background-color: black;
  color: white;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  color: black;
  /* margin-left: 36px;
}

.modal__form {
  /* margin-left: 36px; */
}

@media only screen and (max-width: 630px) {
  .modal__close {
    max-width: 26px;
    max-height: 26px;
    bottom: calc(100% + 26px);
    left: calc(100% + -26px);
  }

  .modal__container {
    position: relative;
    max-width: 282px;
    max-height: 322px;
  }

  .modal__input {
    max-width: 250px;
    max-height: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }

  .modal__button-save {
    width: 258px;
    height: 50px;
    border-radius: 2px;
    top: 438px;
    left: 461px;
  }
}
