.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  width: 100%;
}

.profile__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__info {
  display: grid;
  grid-gap: 9px 17px;
  margin-left: 30px;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  flex-direction: column;
  align-items: flex-start;
}

.profile__edit-button {
  background: transparent url(../images/Edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  padding: 8px;
  grid-area: button;
  border: 1px solid #fff;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/plus_sign.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border-radius: 2px;
  border: 2px solid #fff;
  grid-area: button;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 415px;
  font-family: Inter, arial, Arial, Helvetica, sans-serif;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-family: Inter, arial, Arial, Helvetica, sans-serif;
}

.profile__image {
  min-height: 120px;
  max-width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    justify-content: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__description {
    max-width: 282px;
    text-align: center;
    padding-bottom: 30px;
  }

  .profile__add-button {
    margin: auto;
    min-width: 100%;
  }

  .profile__edit-button {
    max-width: 100%;
    margin-left: 10px;
    height: 18px;
    width: 18px;
  }

  .profile__title {
    max-width: 220px;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .profile__title {
    margin-top: 0;
  }
  .profile__info {
    margin: auto;
  }

  .profile__image {
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__add-button {
    max-width: 100%;
  }
}
